h2 {
    text-align: center;
}

ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

section.lecture > h2 {
    font-size: 150%;
}

td.contents {
    padding-left:0;
}

td.contents-event {
    padding-left:20;
}

td.day {
    font-size:larger;
    text-align:center;
    font-weight:bold;
    background-color: #6666ff;
    color:white;
}

td.problem {
    padding-left:20;
}

td.event {
    background-color: #ffccff;
    padding-left:5;
}

td.tour {
    background-color: #ccffcc;
    padding-left:5;
}

table.day {
    font-size: smaller;
    border: 1px solid #6666ff;
    spacing: 2px;
}

td.lecturers {
    padding-left: 10px;
    font-size: smaller;
}

div.lecturer {
    padding-left: 20px;
}

div.caption {
    font-weight: bold;
}

.small {
    font-size: smaller;
}

.indent {
    padding-left: 20px;
}

b.caption {
    font-size: larger;
}
.center {
    text-align: center;
}

pre {
    overflow-x: auto;
    margin: 0 0 0 2em;
}
